header {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 10px;
    border-bottom: 1px solid gainsboro;

    h1 {
        margin: 6px 0;
    }

    .logo {
        margin-right: 20px;
    }
}
